.jumbotron {
    padding: 5rem;
    background-color: #e2ebff;
}
.about {
    padding: 5rem;
    background-color: #e2ebff;
}
.projects {
    padding: 5rem;
    background-color: #e2ebff;
}
section {
    padding-top: 5rem;
}
